@import './variables.scss';

body {
  font-size: 14px;
  line-height: 1.4;
  font-family: $outfit;
  text-transform: capitalize;
}

// header style
header {
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: center;
  z-index: 9999;

  .logo {
    a {
      font-size: 30px;
    }
  }

  nav {
    top: 0;

    .gnb,
    .right_nav {
      position: fixed;
      top: 30px;
    }

    .gnb.left_nav {
      left: 30px;
      text-align: left;

      li.active a,
      div.active a {
        color: $main-color;
      }

      li {
        a {
          font-size: 18px;
          line-height: 1.5;
          font-weight: 600;
        }
      }
    }

    .right_nav {
      right: 30px;
      text-align: right;

      .menu {
        margin-bottom: 20px;
        overflow: hidden;

        >ul>li {
          height: 30px;
          overflow: hidden;

          &.active {
            height: 100%;
          }

          >a {
            font-size: 18px;
            font-weight: 600;
            line-height: 1.5;
          }
        }

        .sub_menu {
          overflow: hidden;
          margin-bottom: 10px;

          li {
            line-height: 1.6;
            // a {
            //   font-size: 16px;
            //   &:hover {
            //     text-decoration: underline;
            //   }
            // }
          }
        }
      }
    }

    .customer {
      margin-top: 20px;

      li {
        a {
          font-size: 16px;
        }
      }
    }
  }
}


.hover-underline {
  display: inline-block;
  position: relative;
  color: #222;
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 3px;
  left: 0;
  background-color: #222;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}